.blue {
    height: 60px;
    width: 60px;
    background: rgb(0, 170, 255);
}

.red {
    position: relative;
    height: 60px;
    width: 60px;
    left: 100px;
    top: 60px;
    background: rgb(247, 32, 32);
}

.yellow {
    position:absolute;
    left: 100px;
    height: 60px;
    width: 60px;
    background: rgb(255, 255, 82);
}